<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

    <div class="menu_dropdown bk_2">
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 运动员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('/man')}" title="男运动员列表">男运动员列表</a></li>
                    <li><a href="{:url('/woman')}" title="女运动员列表">女运动员列表</a></li>
                    <li><a href="{:url('/leader')}" title="领队列表">领队列表</a></li>

                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe62d;</i> 裁判员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('/judgment')}" title="裁判员管理">裁判员管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe60d;</i> 男运动员报名情况<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('man/situation1')}" title="100米报名情况">100米</a></li>
                    <li><a href="{:url('man/situation2')}" title="200米报名情况">200米</a></li>
                    <li><a href="{:url('man/situation3')}" title="400米报名情况">400米</a></li>
                    <li><a href="{:url('man/situation4')}" title="800米报名情况">800米</a></li>
                    <li><a href="{:url('man/situation5')}" title="1500米报名情况">1500米</a></li>
                    <li><a href="{:url('man/situation6')}" title="实心球报名情况">实心球</a></li>
                    <li><a href="{:url('man/situation7')}" title="铅球（7.26KG）报名情况">铅球（7.26KG）</a></li>
                    <li><a href="{:url('man/situation8')}" title="跳远报名情况">跳远</a></li>
                    <li><a href="{:url('man/situation9')}" title="三级跳远报名情况">三级跳远</a></li>
                    <li><a href="{:url('man/situation10')}" title="跳高报名情况">跳高</a></li>

                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe60d;</i> 女运动员报名情况<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('woman/situation1')}" title="100米报名情况">100米</a></li>
                    <li><a href="{:url('woman/situation2')}" title="200米报名情况">200米</a></li>
                    <li><a href="{:url('woman/situation3')}" title="400米报名情况">400米</a></li>
                    <li><a href="{:url('woman/situation4')}" title="800米报名情况">800米</a></li>
                    <li><a href="{:url('woman/situation5')}" title="1500米报名情况">1500米</a></li>
                    <li><a href="{:url('woman/situation6')}" title="实心球报名情况">实心球</a></li>
                    <li><a href="{:url('woman/situation7')}" title="铅球（7.26KG）报名情况">铅球（7.26KG）</a></li>
                    <li><a href="{:url('woman/situation8')}" title="跳远报名情况">跳远</a></li>
                    <li><a href="{:url('woman/situation9')}" title="三级跳远报名情况">三级跳远</a></li>
                    <li><a href="{:url('woman/situation10')}" title="跳高报名情况">跳高</a></li>

                </ul>
            </dd>
        </dl>


        <dl>
            <dt><i class="Hui-iconfont">&#xe60d;</i> 团体报名情况<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('leader/situation1')}" title="4*100米（男）报名情况">4*100米（男）</a></li>
                    <li><a href="{:url('leader/situation2')}" title="4*400米（男）报名情况">4*400米（男）</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 运动会赛程管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('man/time')}" title="男子比赛时间">男子项目赛程管理</a></li>
                    <li><a href="{:url('woman/time')}" title="女子比赛时间">女子项目赛程管理</a></li>
                    <li><a href="{:url('leader/time')}" title="团体比赛时间">团体项目赛程管理</a></li>
                </ul>
            </dd>
        </dl>


        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 运动会秩序表编辑<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('/course')}" title="男子比赛时间">秩序表编辑</a></li>
                </ul>
            </dd>
        </dl>


        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 男子成绩<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('man/ranking1')}" title="100米">100米</a></li>
                    <li><a href="{:url('man/ranking2')}" title="200米">200米</a></li>
                    <li><a href="{:url('man/ranking3')}" title="400米">400米</a></li>
                    <li><a href="{:url('man/ranking4')}" title="800米">800米</a></li>
                    <li><a href="{:url('man/ranking5')}" title="1500米">1500米</a></li>

                    <li><a href="{:url('leader/ranking1')}" title="4*100米">4*100米（男）</a></li>
                    <li><a href="{:url('leader/ranking1')}" title="4*400米">4*400米（男）</a></li>

                    <li><a href="{:url('man/ranking6')}" title="实心球">实心球</a></li>
                    <li><a href="{:url('man/ranking7')}" title="铅球（7.26KG）">铅球（7.26KG）</a></li>
                    <li><a href="{:url('man/ranking8')}" title="跳远">跳远</a></li>
                    <li><a href="{:url('man/ranking9')}" title="三级跳远">三级跳远</a></li>
                    <li><a href="{:url('man/ranking10')}" title="跳高">跳高</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 女子成绩<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('woman/ranking1')}" title="100米">100米</a></li>
                    <li><a href="{:url('woman/ranking2')}" title="200米">200米</a></li>
                    <li><a href="{:url('woman/ranking3')}" title="400米">400米</a></li>
                    <li><a href="{:url('woman/ranking4')}" title="800米">800米</a></li>
                    <li><a href="{:url('woman/ranking5')}" title="1500米">1500米</a></li>
                    <li><a href="{:url('woman/ranking6')}" title="实心球">实心球</a></li>
                    <li><a href="{:url('woman/ranking7')}" title="铅球（7.26KG）">铅球（7.26KG）</a></li>
                    <li><a href="{:url('woman/ranking8')}" title="跳远">跳远</a></li>
                    <li><a href="{:url('woman/ranking9')}" title="三级跳远">三级跳远</a></li>
                    <li><a href="{:url('woman/ranking10')}" title="跳高">跳高</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 数据分析<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('man/analyze')}" title="男子项目历史记录">比赛成绩分析</a></li>

            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 各个项目历史记录<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('man/history')}" title="男子项目历史记录">男子项目历史记录</a></li>
                    <li><a href="{:url('woman/history')}" title="女子项目历史记录">女子项目历史记录</a></li>
                    <li><a href="{:url('leader/history')}" title="团体项目历史记录">团体项目历史记录</a></li>
                </ul>
            </dd>
        </dl>

    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->