{extend name="public/base"}

{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">

</head>
<body>
{/block}


{block name="content"}

<div id="main" style="width: 600px;height:400px;margin: 100px 300px"></div>

{/block}



{block name='js'}


<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));

            var option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data:['销量']
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"销量",
                        "type":"bar",
                        "data":[5, 20, 40, 10, 10, 20]
                    }
                ]
            };

            // 为echarts对象加载数据
            myChart.setOption(option);
        }
    );
</script>





<!--<script type="text/javascript">-->
    <!--// 基于准备好的dom，初始化echarts实例-->
    <!--var myChart = echarts.init(document.getElementById('main'));-->

    <!--// 指定图表的配置项和数据-->
    <!--var option = {-->
        <!--title: {-->
            <!--text: 'ECharts 入门示例'-->
        <!--},-->
        <!--tooltip: {},-->
        <!--legend: {-->
            <!--data:['销量']-->
        <!--},-->
        <!--xAxis: {-->
            <!--data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]-->
        <!--},-->
        <!--yAxis: {},-->
        <!--series: [{-->
            <!--name: '销量',-->
            <!--type: 'bar',-->
            <!--data: [5, 20, 36, 10, 10, 20]-->
        <!--}]-->
    <!--};-->

    <!--// 使用刚指定的配置项和数据显示图表。-->
    <!--myChart.setOption(option);-->
<!--</script>-->


<!--<script type="text/javascript" src="__STATIC__/lib/echarts/3.4.0/echarts.common.min.js"></script>-->
{/block}



</body>
</html>