{extend name="public/base"}

{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
</head>
<body>
{/block}


{block name="content"}

    <div class="container">

<p>
    <h3>田径运动会竞赛规程</h3><br>
    一、主办单位：XXX学院体育运动委员会<br>
    二、承办单位：学院体育部  院工会<br>
    三、竞赛日期：20**年*月**日<br>
    四、竞赛地点：**田径运动场<br>
    （一）组别<br>
    1、甲组：<br>
    2、乙组：<br>
    3．丙组：<br>
    （二）项目<br>
    1、男子组：100米、200米、400米、800米、1500米、实心球、铅球（7.26KG）、跳远、三级跳远、跳高<br>
    2、女子组：100米、200米、400米、800米、1500米、实心球、铅球（7.26KG）、跳远、三级跳远、跳高<br>
    3、学生团体项目：4 X100米接力(男)、4 X400米接力（男）<br>
    五、参赛办法<br>
    （一）每班限报运动员20人，每人限报2项（接力除外），（二）报名表上交体育部后，不得随意更改。如有特殊原因须经体育部同意后才可变更。<br>
    （三）每个参赛单位为一个班，设领队1人、教练员2人、旗手1人，方队参加开幕式入场。
    六、比赛办法<br>
    （一）比赛过程中，运动员必须胸前配戴号码布（四角固定），否则禁止参加比赛。<br>
    （二）参赛运动员必须按竞赛规则要求提前30分钟到检录处检录，三次点名不到者，以弃权论处。<br>
    （三）800米以上项目（不含800米），分组不分道；400米以下项目（不含400米）进行预赛。<br>
    （四）跳高起跳高度：男子1.40米，女子1.05米。当横杆高度界于男子1.40米----1.60米，每次升高5公分，1．60米以上每次升高3公分；女子每次升高3公分。跳远起跳踏板距沙坑3米，及格赛标准：男子5.00米，女子3.00米；三级跳远起跳踏板距沙坑6米。铅球掷远：男子5公斤；女子4公斤；及格赛标准：男子9.00米，女子5.50米。<br>
    （五）男子10000米、女子5000米，根据报名情况提前进行预选赛，具体时间另行通知。<br>
    （六）裁判规则：田径项目参照国家体育总局最新颁布的《田径竞赛规则》进行，<br>
    倡导公平、公正、认真、文明，如有疑议请书面至仲裁委员会复议。 <br>
    七、计分、录取名次和奖励办法<br>
    （一）男女单项、集体项目分别取前八名，按9、7、6、5、4、3、2、1记分，破纪录者双倍记分。<br>
    （二）学生组团体名次（男子团体、女子团体），按男女总分高低排名。若得分相等，由以破校纪录多者名次列前；再相等，则以获得第一名多者列前；以此类推。团体总分按积分排序，录取前三名颁发奖杯。<br>
    （三）凡获个人单项前8名均颁发证书，获个人前3名颁发奖牌，获集体项目前8名均颁发奖状 。<br>
    （四）每一个年级设精神文明奖不超过3个。<br>
    XXX学院体育运动委员会<br>
    20**年*月<br>
</p>
</div>

{/block}

{block name='js'}

{/block}



</body>
</html>