{extend name="public/base"}
{block name="header"}{/block}
{block name="menu"}{/block}

{block name="seo"}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
</head>
<body>
{/block}


{block name="content"}
<article class="cl pd-20">


    <form action="/course" method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>比赛项目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" value="" placeholder="比赛项目" id="item" name="item">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>参数人数：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value=""  placeholder="参数人数" id="count" name="count">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>规则：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="tel" class="input-text" placeholder="规则" name="rule" id="rule" value="">
            </div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-success" type="submit" value="提交" id="submit">
                <input class="btn btn-danger" type="reset" value="重置" >
            </div>
        </div>
    </form>


</article>
{/block}

{block name="js"}
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

    $(function(){

        //防止用户无更新提交,只有表中数据有变化时才允许提交
        $("form").children().change(function(){
            $("#submit").removeClass('disabled');
        });




    })
</script>
{/block}


</body>
</html>