<!--页脚-->
<div id="footer" style="margin-top: 20px;">
    <nav class="navbar navbar-inverse" style="margin-bottom: 0px">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted credit" style="padding-top: 10px;text-align: center" >
                建议您使用Google Chrome浏览器，分辨率1280*800及以上浏览本网站，获得更好用户体验<br>

                主管单位：菲菲企业服务平台 主办单位：菲菲企业服务平台中心<br>

                地址：广州大学华软软件学院<br>

                联系电话：13247521816 E-mail : 956842336@qq.com<br>

                技术支持：菲菲科技股份有限公司

            </p>
        </div>
    </nav>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="__STATIC__/bootstrap/js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function close_box () {
        console.log(event)
        console.log('hhhh')
        document.getElementById("close_box_id").style.display = "none"
        document.getElementById("box_img").style.display = "none"


    }

</script>
</body>
</html>