{extend name="public/base"}

{block name="content"}
<!--内容-->


<div class="container" style="padding-top: 50px;padding-bottom: 100px">

    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-success" role="alert">查询科技成果结果</div>
            <div>
                <article class="cl pd-20">
                    {volist name="search_result" id="vo"}
                    <table class="table table-border table-bordered table-bg table table-hover table table-striped">
                        <tbody>
                        <tr><th colspan="3">科技成果标题：<a href="{:url('result/message')}?id={$vo.id}&name={$vo.name}">{$vo.name}</a></th></tr>
                        <tr><th>发布者：{$vo.user_name}</th><th>发布时间：{$vo.create_time}</th><th>开发程度：{$vo.level}</th></tr>
                        <tr><th>价格：{$vo.price}</th><th colspan="2">联系方式：{$vo.tel}</th></tr>
                        <tr><th colspan="3">科技成果概述：{$vo.content}</th></tr>
                        <br>
                        </tbody>
                    </table>
                    <br/>
                    {/volist}

                </article>

            </div>

            <div class="alert alert-success" role="alert">查询科技需求结果</div>
            <div>
                <article class="cl pd-20">
                    {volist name="search_need" id="vo"}
                    <table class="table table-border table-bordered table-bg table table-hover table table-striped">
                        <tbody>
                        <tr><th colspan="3">科技成果标题：<a href="{:url('need/message')}?id={$vo.id}&name={$vo.name}">{$vo.name}</a></th></tr>
                        <tr><th>发布者：{$vo.user_name}</th><th>发布时间：{$vo.create_time}</th><th>开发程度：{$vo.level}</th></tr>
                        <tr><th>价格：{$vo.price}</th><th colspan="2">联系方式：{$vo.tel}</th></tr>
                        <tr><th colspan="3">科技成果概述：{$vo.content}</th></tr>
                        <br>
                        </tbody>
                    </table>
                    <br/>
                    {/volist}

                </article>

            </div>


        </div>
        <div class="col-md-4">

            <div class="alert alert-info" role="alert"><a href="{:url('/professor_list')}">教授推荐</a></div>
            <div>
                <table class="table table-border table-bordered table-bg">
                    <thead>
                    <tr class="text-c">
                        <td>教授姓名</td>
                        <td>学历</td>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="$professor" id="pro"}
                    <tr class="text-c">
                        <td>{$pro.name}</td>
                        <td>{$pro.education}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>


            <div class="alert alert-info" role="alert" style="margin-top: 80px"><a href="{:url('/result_list')}">最新科技成果</a></div>
            <div>
                <table class="table table-border table-bordered table-bg table table-hover table table-striped">
                    <thead>
                    <tr class="text-c">
                        <td>成果名</td>
                        <td>开发程度</td>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="result" id="res"}
                    <tr class="text-c">
                        <td>{$res.name}</td>
                        <td>{$res.level}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>

            <div class="alert alert-info" role="alert" style="margin-top: 80px"><a href="{:url('/need_list')}">最新科技需求</a></div>
            <div>
                <table class="table table-border table-bordered table-bg table table-hover table table-striped">
                    <thead>
                    <tr class="text-c">
                        <td>需求名</td>
                        <td>程度要求</td>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="need" id="need"}
                    <tr class="text-c">
                        <td>{$need.name}</td>
                        <td>{$need.level}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

{/block}
