<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

    <div class="menu_dropdown bk_2">
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('/user')}" title="普通用户管理">  普通用户管理</a></li>
                    <li><a href="{:url('/professor')}" title="教授用户管理">  教授用户管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('userVip/index')}"  title="普通用户会员管理">  普通用户会员管理</a></li>
                    <li><a href="{:url('professorVip/index')}"  title="教授用户会员管理">  教授用户会员管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 科技成果库<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('/result')}"  title="科技成果库管理">  科技成果库管理</a></li>
                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 科技需求库<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('/need')}"  title="科技需求库管理">  科技需求库管理</a></li>

                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 留言板管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('/result_message')}"  title="科技成果留言板">  科技成果留言板</a></li>
                    <li><a href="{:url('/need_message')}"  title="科技需求留言板">  科技需求留言板</a></li>
                    <li><a href="{:url('/professor_message')}"  title="教授需求留言板">  教授需求留言板</a></li>

                </ul>
            </dd>
        </dl>

        <dl>
            <dt><i class="Hui-iconfont">&#xe61a;</i> 论文管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('/paper')}"  title="论文管理">  科技成果留言板</a></li>

                </ul>
            </dd>
        </dl>


    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->