<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/lib/html5.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/respond.min.js"></script>
    <![endif]-->
    <link href="__STATIC__/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/static/h-ui/css/H-ui.login.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!-- Bootstrap -->
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <title>教授用户注册</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>
<body>
<div class="container" style="padding-top: 50px">

    <div class="page-header alert alert-info"style="padding-left: 10px;">
        <h1>注册 <small>教授用户注册</small></h1>
    </div>

    <article class="cl pd-20">
        <form action="/webProfessor" method="post" class="form form-horizontal" id="form-admin-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>教授账号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input  type="text" class="input-text" value="" placeholder="" id="name" name="name">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" autocomplete="off" value=""  placeholder="密码为6位" id="password" name="password">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>真实姓名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" placeholder="请输入真实姓名" name="realname" id="realname" value="">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="email" class="input-text" placeholder="@" name="email" id="email" value="">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系电话：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="tel" class="input-text" autocomplete="off" value=""  placeholder="请输入真实联系电话" id="tel" name="tel">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>毕业院校：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" placeholder="请输入真实院校" name="school" id="school" value="">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学历：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" placeholder="请输入真实学历" name="education" id="education" value="">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>最高荣誉：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="tel" class="input-text" autocomplete="off" value=""  placeholder="请输入真实信息" id="honor" name="honor">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>行业：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="tel" class="input-text" autocomplete="off" value=""  placeholder="请输入真实信息" id="industry" name="industry">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>个人简介：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="tel" class="input-text" autocomplete="off" value=""  placeholder="请输入真实信息" id="content" name="content">
                </div>
            </div>
            <!--<div class="row cl">-->
            <!--<label class="form-label col-xs-4 col-sm-3">角色：</label>-->
            <!--<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">-->

            <!--<select class="select" name="role" size="1">-->
            <!--<option value="1" >教授用户</option>-->

            <!--</select>-->
            <!--</span>-->
            <!--</div>-->
</div>



<div class="row cl">
    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
        <input class="btn btn-success" type="submit" value="提交" id="submit">
        <input class="btn btn-danger" type="reset" value="重置" >
    </div>
</div>
</form>


</article>
</div>
<div class="footer" style="margin-top: 50px">菲菲企业服务平台_www.feifei.com</div>
</div>



<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script>
<!--<script type='text/javascript' src='/static/base.js'></script>-->
{js href="/static/js/base.js" /}
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.page.js"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

    $(function(){

        //防止用户无更新提交,只有表中数据有变化时才允许提交
        $("form").children().change(function(){
            $("#submit").removeClass('disabled');
        });

        //失去焦点时,检查用户名是否重复
        $("#name").blur(function(){
            $.ajax({
                type: 'GET',
                url: "checkUserName",
                data:{name:$(this).val()},
                dataType: 'json',
                success: function(data){
                    if (data.status == 1) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                }
            });
        });

        //失去焦点时,检查邮箱是否重复
        $("#email").blur(function(){
            $.ajax({
                type: 'GET',
                url: "checkUserEmail",
                data:{email:$(this).val()},
                dataType: 'json',
                success: function(data){
                    if (data.status == 1) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                }
            });
        });

//        $("#submit").on("click", function(event){
//            $.ajax({
//                type: "POST",
//                url: "{:url('user/addUser')}",
//                data: $("#form-admin-add").serialize(),
//                dataType: "json",
//                success: function(data){
//                    if (data.status == 1) {
//                        alert(data.message);
//
//                    } else {
//                        alert(data.message);
//
//                    }
//                }
//            });
//
//        })
    })
</script>
</body>
</html>